:root{
    --background: #02151c;
    --border-color: #202d40;
    --cell-color: rgb(218, 105, 133);
    --cell-hover-color: rgb(238, 141, 160);
}



.casella-img {
    width: 2vw;
    margin: 0vw;
    padding: 0vw;
}

body{
    color: var(--border-color);
    font-family: basic;
}

.schema{
    visibility: visible;

}

.content {
    outline: solid white 2px;
    width: 100%;
    display: flex; /* Enables flexbox */
    justify-content: space-between;
}

.board{
    outline: solid red 4px;
}

tr, td{
    outline: solid blue 2px;
    background-color: var(--cell-color);
}



td{
    +

}

.game{
    outline: solid green 4px;
    margin-top: 0;
    width: 50vw;
}

p {
    margin: 0;
    font-size: 0.7vw;
}



td:hover{
    background-color: var(--cell-hover-color);
}

.left{
    transform: rotate(90deg);
}
.right{
    transform: rotate(-90deg);
}
.top{
    transform: rotate(180deg);
}



.button {
    margin: 0vw;
    font-size: 1.5vw;
    width: 8vw;
    height: auto;
}


#pedina {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgba(255,0,0,0.7);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


.dado {
    font-size: 1.5vw;
    width: 3vw;
    height: 3vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--cell-hover-color);
    border-radius: 1vw;
    border: solid var(--border-color) 0.3vw;
    padding: 1vw;
}

.puntino {
    width: 0.7vw;
    height: 0.7vw;
    background-color: var(--border-color);
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.action-bar {
    border: solid var(--border-color) 0.3vw;
    background-color: var(--cell-color);
    padding: 1vw;
    border-radius: 2vw;
    background: var(--cell-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* ------------------------- GIOCATORI ----------------------*/
.player {
    border: solid var(--border-color) 0.3vw;
    background-color: var(--cell-color);
    padding: 2vw;
    margin-bottom: 1vw;
    border-radius: 2vw;
}

.player .possession {
    height: 0vw;
    border: solid black 0px;
}
.player.selected .possession {
    height: 10vw;
    border: solid black 1px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.player p {
    font-size: 1.5vw;
}

.selected {
    background-color: var(--cell-hover);
}


/* ------------------- IMPREVISTI/PROBABILITÀ ------------------*/
#messaggioCarta {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    text-align: center;
    width: auto;
    max-width: 450px;
    border: 2px solid #000;
    z-index: 10;
}

#okButton {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#okButton:hover {
    background-color: #45a049;
}


/* -------------------------- COLORI CELLE ----------------------*/
.brown{
    background-color: rgb(153, 87, 0);

}
.cyan{
    background-color: rgb(0, 166, 196);
}

.magenta{
    background-color: magenta;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.gray{
    background-color: #333;
    color: rgb(204, 200, 200);
}

