:root{
    --background: #02151c;
    --border-color: #202d40;
    --cell-color: rgb(218, 105, 133);
    --cell-hover-color: rgb(238, 141, 160);
}

.content {
    display: flex;
    justify-content: space-around;
    height: 100%;
}



body{
    color: var(--border-color);
    border-collapse: collapse;
    font-family: basic;
}

.schema{
    visibility: visible;
}

/* -------------------------- BOARD ----------------------*/
.board{
    width: auto;
}


tr, td{
    width: 1.5vw ;
    height: 1.5vw;
    background-color: var(--cell-color);
}

p {
    margin: 0;
    font-size: 0.1vw;
}

td{
    text-align: center;
    outline:solid var(--border-color) 0.15vw;
    position: relative;
}

.left{
    transform: rotate(90deg);
}

.right{
    transform: rotate(-90deg);
}

.top{
    transform: rotate(180deg);
}

.casella-img {
    width: 1.5vw;
    margin: 0vw;
    padding: 0vw;
}

/* -------------------------- GUI ----------------------*/
.game{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vw;
}

.button {
    margin: 0vw;
    font-size: 1.5vw;
    width: 8vw;
    height: auto;
}

.action-bar {
    border: solid var(--border-color) 0.3vw;
    background-color: var(--cell-color);
    padding: 1vw;
    border-radius: 2vw;
    background: var(--cell-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player {
    border: solid var(--border-color) 0.3vw;
    background-color: var(--cell-color);
    padding: 2vw;
    margin-bottom: 1vw;
    border-radius: 2vw;
    cursor: pointer;
}

.player .possession {
    height: 0vw;
    border: solid black 0px;
}
.player.selected .possession {
    height: 10vw;
    border: solid black 1px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.player p {
    font-size: 1.5vw;
}

.selected {
    background-color: var(--cell-hover);
}


/* -------------------------- PEDINA ----------------------*/
#pedina {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgba(255,0,0,0.7);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------------- DADI ----------------------*/
@keyframes glow {
    0% { background-color: rgb(222, 153, 182); }
    50% { background-color: rgb(218, 105, 133); }
    100% { background-color: rgb(222, 153, 182); }
}

.dado {
    font-size: 1.5vw;
    width: 3vw;
    height: 3vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 1vw;
    border: solid var(--border-color) 0.3vw;
    padding: 1vw;
}

.enabled:hover,
.enabled:hover ~ .dado,
.enabled:has(~ .dado:hover) {
    animation: none;
    background-color: rgb(222, 153, 182);
    transform: scale(1.05);
    transition: transform 0.2s ease;
}
.enabled:active,
.enabled:active ~ .dado,
.enabled:has(~ .dado:active) {
    transform: scale(0.95);
}

.puntino {
    width: 0.7vw;
    height: 0.7vw;
    background-color: var(--border-color);
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.hidden {
    visibility: hidden;
}

/* ------------------- EVENTI ------------------*/
.messaggio-carta {
    position: absolute;
    border: solid var(--border-color) 0.3vw;
    background-color: var(--cell-color);
    padding: 1vw;
    width: 30vw;
    height: 40vw;
    border-radius: 2vw;
    box-shadow: inset 0 1vw 2vw rgba(0,0,0,0.06), 0 0vw 2vw rgba(0,0,0,0.25);
    font-size: 2vw;
    text-align: left;
    transform: translate(8vw, 5vw);
    z-index: 10;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.description{
    height: fit-content;
}

.information p{
    font-size: 1.3vw;
}


.name {
    text-align: center;
    font-size: 2.5vw;
    margin-bottom: 1vw;
}

.buttons{
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
}



/* -------------------------- COLORI CELLE ----------------------*/
.brown{
    background-color: rgb(153, 87, 0);

}
.cyan{
    background-color: rgb(0, 166, 196);
}

.magenta{
    background-color: magenta;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.gray{
    background-color: #333;
    color: rgb(204, 200, 200);
}

