.content {
	margin-top: 6vw;
	display: flex;
    justify-content: space-evenly;
	width: 82.8vw;
}

p{
	font-size: 2vw;
	font-family: basic;
	margin: 1vw;
	color: var(--border-color);
}

.players {
	height: 40vw;
	display: flex;
    flex-direction: column;
	background-color: var(--cell-color);
	border: 0.3vw solid var(--border-color);
    width: 40vw;
	border-radius: 2vw;
	padding: 1vw;
}
.list {
	height: 35vw;
	display: flex;
	justify-content: center;
	background-color: var(--cell-color);
	border: 0.3vw solid var(--border-color);
    width: 100%;
	border-radius: 2vw;
	margin-right: 5vw;
	overflow: auto;
	align-content: space-around;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.list::-webkit-scrollbar {
	display: none;
}

.right {
	display:  flex;
    flex-direction: column;
}

.line {
	margin: 1.5vw 0vw 1.5vw 0vw;
	display: flex; 
    justify-content: space-around;
	width: 100%;
}

.button {
	width: 35vw;
	padding: 0.2vw;
	margin: 1vw 0vw;
}

.invite {
	margin: 3vw;
	background-color: var(--cell-color);
	width: 8vw;
	font-size: 1.5vw;
	padding: 1vw;
	border: 0.3vw solid var(--border-color);
	border-radius: 2vw;
}

.icon {
	width: 10vw;
}

.icon:hover{

}

.name{
	margin-left: 3vw;
}

.user {
	background-color: var(--cell-user);
	display: flex; /* Enables flexbox */
    justify-content: space-between;
	align-items: center;
	color: var(--border-color);
	font-family: basic;
  	font-size: 2vw;
	border: 0.3vw solid var(--border-color);
	border-radius: 2vw;
	margin-top: 1vw;
	height: 7vw;
	width: 96%;
}