:root{
    --background: #02151c;
    --border-color: #202d40;
    --text-color:#202d40;
    --cell-color: rgb(218, 105, 133);
    --cell-hover-color: rgb(238, 141, 160);
}

@font-face {
    font-family: basic;
    src: url(Basic.otf);
}

body{
    border-collapse: collapse;
    font-family: basic;
    background-color: var(--background);
    background-image: url("bg.png");
    animation: moveIt 20s alternate infinite;
    background-size: 120vw;
    background-repeat: no-repeat;
}

.schema{
    visibility: hidden;
}

/* -------------------------- CONTENITORI ----------------------*/
.container {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 95vw;
    height: 50vw;
    border-radius: 2vw;
    padding: 1vw;
    box-shadow: inset 0 1vw 2vw rgba(0,0,0,0.16), 0 1.5vw 2vw rgba(0,0,0,0.45);
}

.dadi-container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}


.board-and-players {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.board-container {
    flex: 1;
    margin-right: 20px;
    position: relative;
}

.players-container {
    width: 200px;
}


/* -------------------------- BOARD ----------------------*/
.board{
    color: var(--text-color);
    user-select: none;
}

tr, td{
    width: 2vw ;
    height: 2vw;
    background-color: var(--cell-color);
}

p {
    margin: 0;
    font-size: 0.62vw;
}

td{
    text-align: center;
    outline:solid var(--text-color) 0.15vw;
    position: relative;
}

td:hover{
    background-color: var(--cell-hover-color);
}

.left{
    transform: rotate(90deg);
}
.right{
    transform: rotate(-90deg);
}
.top{
    transform: rotate(180deg);
}


/* -------------------------- PEDINA ----------------------*/
#pedina {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5vw;
    height: 1.5vw;
    background-color: rgba(255,0,0,0.7);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------------- DADI ----------------------*/
.rettangoloDado {
    width: 80px;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #ffcc00;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.puntino {
    width: 17px;
    height: 17px;
    background-color: black;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}
.hidden {
    visibility: hidden;
}

/* ------------------------- GIOCATORI ----------------------*/
.player {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.player p {
    margin: 0;
    font-size: 16px;
}


/* ------------------- IMPREVISTI/PROBABILITÀ ------------------*/
#messaggioCarta {
    display: none;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    text-align: center;
    width: auto;
    max-width: 450px;
    border: 2px solid #000;
    z-index: 10;
}

#okButton {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#okButton:hover {
    background-color: #45a049;
}


/* -------------------------- COLORI CELLE ----------------------*/
.brown{
    background-color: rgb(153, 87, 0);

}
.cyan{
    background-color: rgb(0, 166, 196);
}

.magenta{
    background-color: magenta;
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.gray{
    background-color: #333;
    color: rgb(204, 200, 200);
}

