.content {
	display: flex;
    align-items:center;
    justify-content:space-between; 
	height: 40vw;
}

.players {
	height: 100%;
	display: flex;
    flex-direction: column;
	align-items:center;
    justify-content: space-between;
	background-color: var(--cell-color);
	border: 0.3vw solid var(--border-color);
    width: 40vw;
	border-radius: 2vw;
}

.right {
	display: flex;
    flex-direction: column;
	margin: 5% 10%;

}

.list {
	position: relative;
	display: flex;
	flex-direction: column;
    justify-content:baseline; 
    align-items: center;
	background-color: var(--cell-color);
	border: 0.3vw solid var(--border-color);
	border-radius: 2vw;
	overflow: auto;
}

.user {
	margin-top: 2vw;
	color: var(--border-color);
	font-family: basic;
	font-size: 2vw;
	display: flex;
    align-items:center;
    justify-content:space-between; 
	border-radius: 2vw;
	background-color: var(--cell-user);
	width: 98%;
	border: 0.3vw solid var(--border-color);
	height: 10%;
}

.name {
	margin-left: 3vw;
}

.button {
	width: 35vw;
	padding: 0vw;
	height: 10%;
}

.invite {
	margin: 3vw;
	background-color: var(--cell-color);
	width: 10vw;
	font-size: 2vw;
	padding: 1vw;
	border: 0.3vw solid var(--border-color);
	border-radius: 2vw;
}



.line {
	margin-bottom: 2vw;
	margin-left: 5vw;
	margin-top: 4vw;
	display: flex; 
    justify-content: space-between;
	width: 35vw;
}



.icon {
	width: 10vw;
}

