.rectangle-1 {
	width: 98%;
	height: 870px;
	padding: 8px 8px 8px 8px;
	box-shadow: 0px 4px 30px rgb(0, 0, 0);
	background: #31005A;
	border-color: #E0AAFF;
	border-width: 5px;
	border-style: solid;
    margin-top: -15px;
}

.button-1 {
	width: 50%;
	height: 110px;
	padding: 0px 10px 0px 10px;
	background: #31005A;
	color: #E0AAFF;
	border-color: #E0AAFF;
	border-width: 3px;
	border-style: solid;
	border-radius: 25px 25px 0px 0px;
	font-family: "Alexandria";
	font-weight: bold;
	font-size: 48px;
	text-align: center;
}

.button-2 {
	width: 50%;
	height: 110px;
	padding: 0px 10px 0px 10px;
	background: #240046;
	color: #E0AAFF;
	border-color: #E0AAFF;
	border-width: 3px;
	border-style: solid;
	border-radius: 25px 25px 0px 0px;
	font-family: "Alexandria";
	font-weight: bold;
	font-size: 48px;
	text-align: center;
    border-bottom: none;
}

.parent {
    width: 100%;
    display: inline-flex;
}